.grid {
    display: grid; 
    height: 100vh;
    margin: 0 auto;
}
    

.header {
   grid-column: 1 / 5;
   grid-row: 1 / 2;
   padding-left: 75px;
   
   
 }
.navbar{
    background-color:#793232;
    grid-column: 1 / 5;
    grid-row: 2 / 3;  
    margin-bottom: 90px;
    font-family: Raleway;
    
    
}

.navbar .navbar-nav .nav-link {
    color: #FCF9F9;
}

.nav-item {
    color: 080808; 
    padding-left: 155px;
    padding-right: 110px;
    font-size: 1.1em;

}


.footer {
    grid-column: 1 / 5;
    grid-row: 9 / 12; 
    text-align: center;
    background-color: #707070;
    font-family: Raleway;
    border: none; 
    padding-bottom: 20px;
    margin-top: 100px;

}

.home,
.about,
.projects,
.contact {
    font-size: 0.75em;
    text-decoration: underline; 
    
    
}

.Contact {
    font-size: 0.9em;
    color:#080808;
    border: none; 
    
}

.link {
   color:#080808; 
}

.link:hover {
    color: #FCF9F9;
}

.fas,
.number,
.email {
    font-size: 0.8em;
    font-weight: 545;
        
}


header {
    grid-column: 2 / 4;
    grid-row: 3 / 4; 
    font-family: Raleway;
    font-size: 2em;
    margin-bottom: 25px;
    
    
}

.testimonials {
    grid-column: 1 / 5;
    margin: 20px;
    padding-bottom: 35px;
    
}

.quotes {
    font-family: Raleway;
    font-size: 1.1em;
    
}





@media only screen and (min-width: 575px) {
    .navbar-brand {
        display: none;
    }
}

@media only screen and (max-width: 575px) {
    .header {
        padding-left: 0px;
    }
    
    
    }
}