.grid {
    display: grid; 
    height: 100vh;
    margin: 0 auto;
    
}
    
.header {
   grid-column: 1 / 5;
   grid-row: 1 / 2;
   padding-left: 75px;
   
   
 }
.navbar{
    background-color:#793232;
    grid-column: 1 / 5;
    grid-row: 2 / 3;  
    margin-bottom: 90px;
    font-family: Raleway;
    
    
}

.navbar .navbar-nav .nav-link {
    color: #FCF9F9;
}

.nav-item {
    color: #FCF9F9; 
    padding-left: 155px;
    padding-right: 110px;
    font-size: 1.1em;
}

.home-pic {
    grid-column: 2 / 4;
    grid-row: 3 / 5;
    

}

.buttons {
    grid-column: 1 / 5;
    grid-row: 6 / 7;
    padding-left: 175px;
    margin-top: 50px;
    margin-bottom: 80px;
     
}

.button1:hover,
.button2:hover,
.button3:hover {
   background-color: #904A4A; 
   
}

.nav-link {
    color:#FCF9F9; 
}

.nav-link:hover {
    color: #FCF9F9;
}

.slogan {
    grid-column: 1 / 5;
    grid-row: 5 / 6;
    text-align: center;
    font-family: Raleway;
    padding-top: 40px;
    font-size: 1.4em;
    font-weight: 600;
}

.button1, 
.button2,
.button3 { 
    background-color: #793232;
    padding: 30px;
    margin: 80px;
    margin-top: 100px;
    box-sizing: border-box;
    border-radius: 20px;
    font-family: Raleway;
    font-size: 1.2em;
    
    
}

.button2 {
    padding: 30px; 
    padding-left: 50px;
    padding-right: 50px;
}

.footer {
    grid-column: 1 / 5;
    grid-row: 9 / 12; 
    text-align: center;
    background-color: #707070;
    font-family: Raleway;
    border: none; 
    padding-bottom: 20px;
}

.navigation {
    font-size: 0.9em; 
    color:#080808;
    padding-left: 5px;
}

.home,
.about,
.projects,
.contact {
    font-size: 0.75em;
    text-decoration: underline; 
    
    
}

.link {
   color:#080808; 
}

.link:hover {
    color: #FCF9F9;
}

.Contact {
    font-size: 0.9em;
    color:#080808;
    border: none; 
    
    
}

.fas,
.number,
.email{
    font-size: 0.75em;
    font-weight: 545;
    
    
}






@media only screen and (min-width: 575px) {
    .navbar-brand {
        display: none;
    }
}

@media only screen and (max-width: 575px) {
    .home-pic {
        grid-row: 2 / 5;
        padding-top: 50px;
    }
    
    .header {
        padding-left: 0px;
  
    }
    
    .buttons {
        padding-left: 0px;
        grid-column: 3 / 4;
        margin-top: 100px;
        padding-bottom: 20px;
    }
    
    .button1, 
    .button2,
    .button3 {
        padding: 50px;
        margin: 30px;
        font-size: 1em;
        
    }
    
    .button2 {
        padding-left: 70px;
        padding-right: 70px;
    }
    
    .navigation {
        padding-left: 0px; 
    }
    
    .slogan {
        font-size: 1.2em;
    }
}