.grid {
    display: grid; 
    height: 100vh;
    margin: 0 auto;
    background-color:white;
}
    
.header {
   grid-column: 1 / 5;
   grid-row: 1 / 2;
   padding-left: 75px;
   
   
 }
.navbar{
    background-color:#793232;
    grid-column: 1 / 5;
    grid-row: 2 / 3;  
    margin-bottom: 90px;
    font-family: Raleway;
    
    
}

.nav-item {
    color: 080808; 
    padding-left: 155px;
    padding-right: 110px;
    font-size: 1.1em;

}


.footer {
    grid-column: 1 / 5;
    grid-row: 9 / 12; 
    text-align: center;
    background-color: #707070;
    font-family: Raleway;
    border: none; 
    padding-bottom: 20px;

}

.home,
.about,
.projects,
.contact {
    font-size: 0.75em;
    text-decoration: underline; 
    
    
}

.Contact {
    font-size: 0.9em;
    color:#080808;
    border: none; 
    
}

.link {
   color:#080808; 
}

.link:hover {
    color: #FCF9F9;
}

.fas,
.number,
.email{
    font-size: 0.75em;
    font-weight: 545;   
    
}

.email {
    grid-column:  1 / 2;
    grid-row: 3 / 5; 
    font-family: Raleway;
    font-size: 1.3em;
    padding-left: 470px;
    padding-top: 80px;
    padding-bottom: 150px;
    background-color: white;
}

.image {
    padding-top: 25px; 
    padding-left: 90px;
} 


    
   









@media only screen and (min-width: 575px) {
    .navbar-brand {
        display: none;
    }
}

@media only screen and (max-width: 575px) {
    .header {
        padding-left: 0px;
    }
    
    .email {
        padding-left: 20px;
        padding-top: 80px;
        font-size: 1.2em;
        margin-left: 10px;
    }
    
    .image {
        padding-top: 60px;
        margin-right: 25px;
        
    }
}