.grid {
    display: grid; 
    height: 100vh;
    margin: 0 auto;
    background-color: white;
}
    
.header {
   grid-column: 1 / 5;
   grid-row: 1 / 2;
   padding-left: 75px;
   
   
 }
.navbar{
    background-color:#793232;
    grid-column: 1 / 5;
    grid-row: 2 / 3;  
    margin-bottom: 50px;
    font-family: Raleway;
    
    
}

.nav-item {
    color: 080808; 
    padding-left: 155px;
    padding-right: 110px;
    font-size: 1.1em;

}

.background-info {
    grid-column: 1 / 2;
    grid-row: 3 / 5; 
    font-family: Raleway;
    padding: 40px;
    padding-bottom: 60px;
    margin-left: 20px;
}

.pavilion {
    grid-column: 2 / 5;
    grid-row: 3 / 5;
    padding-top: 50px;
    margin-right: 30px;
    
}

.footer {
    grid-column: 1 / 5;
    grid-row: 9 / 12; 
    text-align: center;
    background-color: #707070;
    font-family: Raleway;
    border: none; 
    padding-bottom: 20px;
    

}

.home,
.about,
.projects,
.contact {
    font-size: 0.75em;
    text-decoration: underline; 
    
    
}

.Contact {
    font-size: 0.9em;
    color:#080808;
    border: none; 

}

.link {
   color:#080808; 
}

.link:hover {
    color: #FCF9F9;
}

.fas,
.number,
.email{
    font-size: 0.75em;
    font-weight: 545;
    
    
}







@media only screen and (min-width: 575px) {
    .navbar-brand {
        display: none;
    }
}

@media only screen and (max-width: 575px) {
    .header {
        padding-left: 0px;
    }
    
    .pavilion {
        grid-column: 1 / 5;
        grid-row: 6 / 7;
        padding-bottom: 50px;
        padding-left: 30px;
    }
}